{{ prompt }}

Please provide a JSON object that matches the 'example' field in the given JSON schema. Do not include the schema itself or any extra characters in your response; only the JSON object that fits the schema. Do no add any extra characters in your response besided the JSON object.
{{ json_schema_format }}
