{{ prompt }}

Generate a JSON object that strictly adheres to the 'example' field specified in the given JSON schema. Your response should only consist of this JSON object, without any additional information, characters, or the schema itself
{{ json_schema_format }}
